.logo{
	
	margin-right:85%;
	margin-top:10px;margin-bottom:10px;
	background-color:#ffffff;
	padding-top:5px;padding-bottom:5px;
}
.banner{
	
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
}